In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stat

In [32]:
data=pd.read_csv(r'C:\Users\91963\Downloads\Sales_add.csv')

In [33]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [34]:
data.shape

(22, 5)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [36]:
data.mean()

C:\Users\91963\AppData\Local\Temp\ipykernel_13140\531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

In [39]:
data.var()

C:\Users\91963\AppData\Local\Temp\ipykernel_13140\445316826.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.var()

Sales_before_digital_add(in $)    2.203456e+08
Sales_After_digital_add(in $)     6.531489e+08
dtype: float64

In [40]:
data.std()

C:\Users\91963\AppData\Local\Temp\ipykernel_13140\2723740006.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.std()

Sales_before_digital_add(in $)    14844.042921
Sales_After_digital_add(in $)     25556.777061
dtype: float64

In [41]:
data.skew()

C:\Users\91963\AppData\Local\Temp\ipykernel_13140\1188251951.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.skew()

Sales_before_digital_add(in $)    0.578033
Sales_After_digital_add(in $)    -0.022669
dtype: float64

In [45]:
stat.mean(data['Sales_before_digital_add(in $)'])

149239.95454545456

In [46]:
stat.mean(data['Sales_After_digital_add(in $)'])

231123.72727272726

In [47]:
stat.mode(data['Sales_before_digital_add(in $)'])

132921

In [48]:
stat.mode(data['Sales_After_digital_add(in $)'])

270390

In [53]:
stat.median(data['Sales_before_digital_add(in $)'])

147444.0

In [50]:
stat.median(data['Sales_After_digital_add(in $)'])

229986.5

In [54]:
stat.variance(data['Sales_before_digital_add(in $)'])

220345610.23593074

In [52]:
stat.variance(data['Sales_After_digital_add(in $)'])

653148853.7316017

In [57]:
stat.stdev(data['Sales_before_digital_add(in $)'])

14844.042920846421

In [58]:
stat.stdev(data['Sales_After_digital_add(in $)'])

25556.777060725042

In [59]:
from statsmodels.stats.weightstats import ztest

In [60]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# null hypothesis=no increase in sales after stepping into digital marketing

In [65]:
Sales_before_digital_add=(132921,149559,146278,152167,159525,137163,130625,131140,171259,141956,159339,178939,145062,151514,147463,177195,140862,167996,132135,152493,147425,130263)
Sales_After_digital_add=(270390,223334,244243,231808,258402,256948,222106,230637,226261,193735,203175,276279,205180,253131,229336,187305,234908,191517,227040,212579,263388,243020)

In [66]:
z_stat,p_val=ztest(Sales_before_digital_add,Sales_After_digital_add,value=0)

In [67]:
p_val

1.3046367348248653e-38

In [69]:
if p_val<0.05:
    print('null hypothesis rejected')
else:
    print('null hypothesis accepted')

null hypothesis rejected

# dependency between thefeatures “Region” and “Manager”.

In [77]:
### null hypothesis= there is no dependency between region and manager

In [70]:
from scipy.stats import chi2_contingency

In [72]:
tab_data=[[132921,149559],[146278,152167],[137163,130625]]

In [73]:
chi2_stat,p_value,dof,exp=chi2_contingency(tab_data)

In [74]:
p_value

4.378725832734143e-208

In [75]:
if p_value<0.05:
    print('null hypothesis rejected')
else:
    print('null hypothesis accepted')

null hypothesis rejected